<!DOCTYPE html>
<html>
<head>
    <title>E-Ration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/html5rest.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/col.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/9cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/8cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/7cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/6cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/5cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/4cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/2cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/3cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/12cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/10cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/11cols.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <img class="logo" src="{{ url_for('static',filename='logo2.png') }}" alt="logo-img">
                    <ul class="main-nav">
                        <li> <a href="https://docs.google.com/forms/d/1RAGzVKx1DYig3eQoKi3v0hWUW5i_gyrsbeFse8XSE6o/edit#responses"> View Feedback </a></li>
                        <li> <a href="#">Log out</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hero-text-box">
                <h1>One Nation<br> One Ration Card </h1>
            </div>
        </header>
    </body>
</html>